body{
	font-family: 'Lato' , sans-serif;
  /*background-color: #385B35;*/
}

.banner-container{
	  background: url('../images//imgback.svg');
		background-attachment:scroll;background-position:center;
		-webkit-background-size:cover;-moz-background-size:cover;
		background-size:cover;-o-background-size:cover;text-align:center;color:#fff;
		background-size: cover;
    height: 750px;
    text-align: center;
    background-repeat: no-repeat; background-attachment: fixed; background-color: ce3a00;
}

.col-centered{
    float: none;
    margin: 0 auto;
}


.boton{
        font-size:16px;
        font-family:'Segoe UI';
        font-weight:normal;
        color:white;
        background:#156594;
        border:0px;
        width:auto;
        height:auto;
        margin-bottom: 20px;
  }


.titulos
{
	display: block;
	color: white;
	margin-left: 10px;margin-bottom: 10px;
	font-size: 24px;
	text-align: left;
  font-family: 'Segoe UI';
	font-weight: normal;
}

.contenedor_info_landing
{
	position: relative;
	margin: 0 auto;
	padding: 10px;
	background-color: #385B35;
	opacity: 0.8;
	filter: alpha(opacity=50);
	width: auto;
	height: auto;
}

.contenedor_registro
{
    position: relative;
    border-radius: 8px;
    left: 50%;
    margin: 0 auto;
		padding: 10px;
    background-color: #9A3E0C;
    top: 30%;
    width: auto;
    height: auto;
    border: 2px solid #87ACD0;
    /*transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);*/
}

.label{
	display: block;
	color: #4F4646;
	font-size: 18px;
	text-align: left;
  font-family: 'Segoe UI';
	font-weight: normal;
}

img{
	max-width: 100%;
}

.quitar{
	float: none;
}
.espacio{
	margin-top: 70px;
}
.espacio2{
	margin-top: 20px;
}
.espacio3{
	margin-top: 110px;
}
.pacifico{
	font-family: 'Pacifico', cursive;
}
.grande{
	font-size: 4em;
}
.verde{
	color:#00887C;
}
.espacio-derecha{
	margin-right: 1em;
}
a,.azul{
	color: #009FFF;
}
.no-lista li{
list-style-type: none;
}
.no-lista{
	margin: 0px;
	padding: 0px;
}
.se-gris{
	background-color: #eee;
}
.se-dav{
  background-color:  #66B9F2;
}
.padding-largo{
	padding: 5px 10px;
}
.inline-block{
	float: none;
	display: inline-block;
	margin-right: -4px;
}
.vete-arriba{
	vertical-align: top;
}
.mediano{
	font-size: 1.2em;
}
.pausa-1{
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	animation-delay: 1s;
}
.pausa-2{
	-webkit-animation-delay: 2s;
	-moz-animation-delay: 2s;
	animation-delay: 2s;
}
.blanco{
	color: #fff;
}
.sombra{
	text-shadow: rgba(0, 0, 0, 0.8) 1px 1px 5px;
}
.separador{
	  width: 420px;
    height: 1px;
    background: #a6aab9;
    margin: 0 auto;
}
.separador2{
    width: 5px;
    height: 700px;
    background: #a6aab9;
    margin: 0 auto;
}
.lp7 .sub-container {
    max-width: 680px;
    margin: 0 auto;
}
.lp7 .main-title {
    font-size: 48px;
    font-family: 'aleolight',Helvetica Neue,Arial,Helvetica,sans-serif;
    color: white;
    margin-bottom: 36px;
}
.lp7 .sub-title {
    width: 500px;
    margin: 0 auto 50px;
    font-size: 20px;
    color: white;
    line-height: 34px;
    font-family: 'lato',Helvetica Neue,Arial,Helvetica,sans-serif;
}
.account-prompt {
    font-size: 24px;
    font-family: 'aleoregular',Helvetica Neue,Arial,Helvetica,sans-serif;
    color: white;
    margin-top: 50px;
    margin-bottom: 50px;
}
button{
    font-size: 13px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #383d48;
    margin: 0;
    padding: 0;
    line-height: 20px;
}
.marco{
	border: 4px solid #00887C;
	border-radius: 2px;
}
.mas{
	height: 40px;
    margin-left: -170px;
    position: absolute;
}
.margen{
	margin-bottom: 50px;
}
.tamano{
	width: 16%;
}
.menu-checkbox {
  display: none;
}

.overlay {
  background-color: #000;
  opacity: 0.5;
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 30px;
  left: 0;
  z-index: 100;
}

/*.menu {
  position: fixed;
  top: 30px;
  left: 0;
  z-index: 101;
  visibility: hidden;
  width: 240px;
  height: 100%;
  background: #434343;
  color: white;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  padding: 10px;
}*/

/*.menu-btn {
  margin-top: -69px;
  z-index: 11222;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 31px;
  font-weight: 300;
  line-height: 1em;
  position: fixed;
  padding: 0;
  left: 10px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}*/

.content {
  margin-top: 60px;
}

.items {
  width: 100%;
  margin: 0;
  padding: 10px;
  list-style:none;
}

.menu-checkbox:checked ~ .overlay {
  display: block;
}
.menu-checkbox:checked ~ .menu {
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.menu-checkbox:checked ~ .header .three-lines {
  position: relative;
  left: -3px;
}

.s-scroll
{
    max-height:500px;
    overflow-y:auto;
}

.li-custom li a {
    background-color:#E4E2E0;
    color:#FFFDFB;
}

.li-custom li a:hover {
    background-color:#612B02;
    color:#FFFDFB;
}

.index
{
  background-color:#D5700A;
}

.thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 2px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0px;
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
}

.thumbnail:hover
{
	  background-color: #131B44;
		color: #FAFBFC;
}

.thumbnail .caption:hover
{
	color: #FAFBFC;
}

.thumbnail > img,
.thumbnail a > img {
  margin-right: auto;
  margin-left: auto;
}

a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  border-color: #337ab7;
}

.thumbnail .caption {
  padding: 9px;
  color: #333;
}
